<header class="header">
    <div class="container">
        <div class="header__row">
            <div class="header__logo">
                <img src="../../assets/images/logo.png" alt="">
            </div>
            <nav class="header__nav">
                <ul class="header__menu">
                    <li><a href="#solution">Solución RIS / PACS</a></li>
                    <li><a href="#advantage">Ventajas</a></li>
                    <li><a href="#products">Productos</a></li>
                    <li><a href="#gallery">Galería</a></li>
                </ul>
            </nav>
            <div class="header__whatsapp">
                <a href="https://api.whatsapp.com/send?phone=51997925539&text=M%C3%A1s%20informaci%C3%B3n" class="header__whatsapp__link"><i class="fab fa-whatsapp"></i>Whatsapp</a>
            </div>
        </div>
    </div>
</header>