<header class="header">
    <div class="container">
        <div class="header__row">
            <div class="header__logo">
                <img src="../../assets/images/logo.png" alt="">
            </div>
            <nav class="header__nav">
                <ul class="header__menu">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Solución RIS / PACS</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Ventajas</a></li>
                    <li><a href="#">Galería</a></li>
                </ul>
            </nav>
            <div class="header__whatsapp">
                <a href="#" class="header__whatsapp__link"><i class="fab fa-whatsapp"></i>Whatsapp</a>
            </div>
        </div>
    </div>
</header>