<div class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__col">
                <img src="../../assets/images/logo-white.png" alt="">
            </div>
            <div class="footer__col">
                <ul class="footer__main">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Solución RIS / PACS</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Galería</a></li>
                </ul>
                <ul class="footer__socials">
                    <p>Síguenos:</p>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="footer__col">
                <ul class="footer__info">
                    <li><a href="#"><i class="fas fa-mobile-alt"></i>Teléfono / Whatsapp: +51 997 925 539</a></li>
                    <li><a href="#"><i class="fas fa-globe"></i>conradx.com</a></li>
                    <li><a href="#"><i class="fas fa-envelope"></i>ventas@conradx.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>