<div class="front">
    <div class="container">
        <div class="front__row">
            <div class="front__left">
                <p class="front__shortDescription">BIENVENIDO A CONTROL RADIOLÓGICO - CONRAD</p>
                <h1 class="front__title">Solución completa para imagenología con integración para teleradiología</h1>
                <p class="front__description">Diseñamos, investigamos, desarrollamos e implementamos soluciones tecnológicas en salud y sectores estratégicos.</p>
                <a href="#contact" class="front__contact">Contáctanos</a>
            </div>
            <div class="front__right">
                <img src="../../assets/images/front.png" alt="">
            </div>
        </div>
    </div>
</div>