<div class="front">
    <div class="container">
        <div class="front__row">
            <div class="front__left">
                <p class="front__shortDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultrices.</p>
                <h1 class="front__title">Solución completa para imagenología con integración para teleradiología</h1>
                <p class="front__description">Nunc massa libero, convallis eget lectus eu, suscipit interdum nisi. Integer eget ipsum nunc. Curabitur at volutpat felis. Morbi pretium nibh sed dictum iaculis. Pellentesque vel pulvinar tellus, non cursus velit.</p>
                <a href="#contact" class="front__contact">Contáctanos</a>
            </div>
            <div class="front__right">
                <img src="../../assets/images/front.png" alt="">
            </div>
        </div>
    </div>
</div>