<div class="advantage">
    <div class="container">
        <div class="advantage_row">
            <h3 class="title__two title__two--light"><i class="fas fa-angle-right"></i><i class="fas fa-angle-right"></i>Nuestras <span>ventajas</span></h3>
        </div>
        <div class="advantage__row boxes">
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/advantage1.png" alt="">
                </div>
                <p class="box__text box__text--white">Desarrollo y soporte local 24x7x365(*), permitiendo <span>integración rápida</span> con subsistemas clínicos</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/advantage2.png" alt="">
                </div>
                <p class="box__text box__text--white"><span>Arquitectura escalable</span> y modular de acuerdo a los requerimientos del cliente</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/advantage3.png" alt="">
                </div>
                <p class="box__text box__text--white">Análisis situacional y plan de <span>mejoras tecnológicas</span>, desde equipamiento biomédico hasta infraestructura de comunicaciones y datacenter</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/advantage4.png" alt="">
                </div>
                <p class="box__text box__text--white"><span>Consultoría</span> para la implementación de buenas prácticas e implementación de recursos de tele radiología, tele diagnóstico y telemedicina</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/advantage5.png" alt="">
                </div>
                <p class="box__text box__text--white">Curso especializado de biotecnologías aplicado a la imagenología para <span>mejoramiento de procesos</span>, adquisiciones y auditorías</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/advantage6.png" alt="">
                </div>
                <p class="box__text box__text--white">Proveemos un área de I+D que construye productos innovadores y de altísimo valor, apostamos por la <span>clínica inteligente</span></p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/advantage7.png" alt="">
                </div>
                <p class="box__text box__text--white">El <span>mejor precio</span> del mercado. Una solución al alcance de la empresa que da más valor a su inversión.</p>
            </div>
        </div>
    </div>
</div>