<div class="contact" id="contact">
    <div class="container">
        <div class="contact__row">
            <div class="contact__laptop">
                <img src="../../assets/images/contact-laptop.png" alt="">
            </div>
            <div class="contact__forms">
                <form class="contact__form" (submit)="submit();">
                    <h3 class="contact__title">Contáctanos</h3>
                    <div class="contact__form__item">
                        <label for="#">Nombre:</label>
                        <input type="text" name="name" id="">
                    </div>
                    <div class="contact__form__item">
                        <label for="#">Email:</label>
                        <input type="text" name="email" id="">
                    </div>
                    <div class="contact__form__item">
                        <label for="#">Teléfono:</label>
                        <input type="text" name="phone" id="">
                    </div>
                    <div class="contact__form__item">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>