<div class="gallery">
    <div class="container">
        <h3 class="title__two"><i class="fas fa-angle-right"></i><i class="fas fa-angle-right"></i>Galería</h3>
        <div class="gallery__row">
            <div class="gallery__content">
                <div class="gallery__items" id="gallery__items">
                    <div class="gallery__item" id="gallery__item--{{i}}" *ngFor="let item of images; let i = index">
                        <img src="../../assets/images/{{item.image}}.png" alt="">
                        <p>{{item.description}}</p>
                    </div>
                </div>
                <div class="gallery__thumbs">
                    <ng-container *ngFor="let item of images; let i = index">
                        <div class="gallery__thumbs__item" id="gallery__thumbs__item--{{i}}" [class.gallery__thumbs__item--active]="i === 0" attr.data-index={{i}} (click)="slider(i, 'thumbs', $event)">
                            <img src="../../assets/images/{{item.image}}.png" alt="">
                        </div>
                    </ng-container>
                </div>
                <div class="gallery__buttons">
                    <button type="button" class="gallery__button gallery__button--left">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button type="button" class="gallery__button gallery__button--right">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>