<div class="pacs">
    <div class="container">
        <div class="pacs__row">
            <h3 class="title__two"><i class="fas fa-angle-right"></i><i class="fas fa-angle-right"></i>Características <span>PACS</span></h3>
        </div>
        <div class="pacs__row boxes">
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/pacs1.png" alt="">
                </div>
                <h3 class="box__title">Soporte DICOM completo</h3>
                <p class="box__text hide">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/pacs2.png" alt="">
                </div>
                <h3 class="box__title">Acceso HTTP a objetos y reportes DICOM</h3>
                <p class="box__text hide">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/pacs3.png" alt="">
                </div>
                <h3 class="box__title">Búsqueda de pacientes y estudios</h3>
                <p class="box__text hide">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/pacs4.png" alt="">
                </div>
                <h3 class="box__title">Repositorio de documentos</h3>
                <p class="box__text hide">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/pacs5.png" alt="">
                </div>
                <h3 class="box__title">Subsistema de auditoría</h3>
                <p class="box__text hide">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/pacs6.png" alt="">
                </div>
                <h3 class="box__title">Integración HL7</h3>
                <p class="box__text hide">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/pacs7.png" alt="">
                </div>
                <h3 class="box__title">Almacenamiento online y offline</h3>
                <p class="box__text hide">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/pacs8.png" alt="">
                </div>
                <h3 class="box__title">Interfaz web para administración</h3>
                <p class="box__text hide">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
        </div>
    </div>
</div>