<div class="ris">
    <div class="container">
        <div class="ris_row">
            <h3 class="title__two"><i class="fas fa-angle-right"></i><i class="fas fa-angle-right"></i>Características <span>RIS</span></h3>
        </div>
        <div class="ris__row boxes">
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/ris1.png" alt="">
                </div>
                <h3 class="box__title">Configuración básica</h3>
                <p class="box__text">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/ris2.png" alt="">
                </div>
                <h3 class="box__title">Configuración avanzada</h3>
                <p class="box__text">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/ris3.png" alt="">
                </div>
                <h3 class="box__title">Registro</h3>
                <p class="box__text">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/ris4.png" alt="">
                </div>
                <h3 class="box__title">Ordenes</h3>
                <p class="box__text">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/ris5.png" alt="">
                </div>
                <h3 class="box__title">Admisión</h3>
                <p class="box__text">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/ris6.png" alt="">
                </div>
                <h3 class="box__title">Operaciones</h3>
                <p class="box__text">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/ris7.png" alt="">
                </div>
                <h3 class="box__title">Estudios</h3>
                <p class="box__text">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/ris8.png" alt="">
                </div>
                <h3 class="box__title">Distribución</h3>
                <p class="box__text">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/ris8.png" alt="">
                </div>
                <h3 class="box__title">Analítica</h3>
                <p class="box__text">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/ris8.png" alt="">
                </div>
                <h3 class="box__title">Accesor a visor ligero</h3>
                <p class="box__text">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/ris8.png" alt="">
                </div>
                <h3 class="box__title">Accesor a visor medio</h3>
                <p class="box__text">Sed efficitur posuere eros, a sollicitudin dui dignissim nec. Donec bibendum, lectus at mattis sodales, elit nulla vestibulum libero</p>
            </div>
        </div>
    </div>
</div>