<div class="products" id="products">
    <div class="container">
        <div class="products_row">
            <h3 class="title__two"><i class="fas fa-angle-right"></i><i class="fas fa-angle-right"></i>Otros productos</h3>
        </div>
        <div class="products__row boxes">
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/pacs4.png" alt="">
                </div>
                <h3 class="box__title">LisREPO</h3>
                <p class="box__text">Es una aplicación que permite la indexación centralizada de la metadata de los resultados de laboratorios, permitiendo ubicar el origen y flujo de los diversos análisis así como facilitar su visualización y comparación. Licencia GPL v3</p>
                <a href="https://bitbucket.org/controlradiologico/lisrepo" class="box__link" target="_blank"><i class="fas fa-external-link-alt"></i>Repositorio</a>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/pacs4.png" alt="">
                </div>
                <h3 class="box__title">DICOM Heading</h3>
                <p class="box__text">Es una aplicación que permite la indexación de la metadata básica de los estudios radiológicos guardados en PACS descentralizados, permitiendo seguir el origen y flujo de los diversos estudios, así como facilitar su centralización y visualización. Licencia GPL v3</p>
                <a href="https://bitbucket.org/controlradiologico/dicom_heading" class="box__link" target="_blank"><i class="fas fa-external-link-alt"></i>Repositorio</a>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/pacs4.png" alt="">
                </div>
                <h3 class="box__title">DICOM Indexer</h3>
                <p class="box__text">Cliente ligero que se conecta con base de datos de PACS local DCM4CHEE compatible y envía hacia el indexador central la metadata de los estudios radiológicos contenidos en el centro médico, convirtiéndolos a json y registrándolos por medio de un webservice. Licencia GPL v3</p>
                <a href="https://bitbucket.org/controlradiologico/dicom_indexer" class="box__link" target="_blank"><i class="fas fa-external-link-alt"></i>Repositorio</a>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/pacs4.png" alt="">
                </div>
                <h3 class="box__title">Snomed Service</h3>
                <p class="box__text">Este servicio web permite agregar SNOMED a nuestros sistemas clínicos mediante la consulta de términos por webservice. Licencia GPL v3</p>
                <a href="https://bitbucket.org/controlradiologico/snomed-service" class="box__link" target="_blank"><i class="fas fa-external-link-alt"></i>Repositorio</a>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/pacs4.png" alt="">
                </div>
                <h3 class="box__title">DICOM Relay</h3>
                <p class="box__text">Scripts que permiten generar un PACS Relay o Proxy, capaz de recibir archivos DICOM, procesarlos (modificando metadata) y re-enviándolos a otro PACS. Licencia GPL v3</p>
                <a href="https://bitbucket.org/controlradiologico/dicom_relay" class="box__link" target="_blank"><i class="fas fa-external-link-alt"></i>Repositorio</a>
            </div>
            <div class="box">
                <div class="box__icon">
                    <img src="../../assets/images/pacs4.png" alt="">
                </div>
                <h3 class="box__title">Más Proyectos?</h3>
                <p class="box__text">Tenemos muchas más aplicaciones en nuestro Repositorio Principal</p>
                <a href="https://bitbucket.org/controlradiologico/" class="box__link" target="_blank"><i class="fas fa-external-link-alt"></i>Repositorio Principal</a>
            </div>
        </div>
    </div>
</div>