<div class="solution">
    <div class="container">
        <div class="solution__row">
            <div class="solution__left">
                <div class="solution__left__box">
                    <div class="solution__left__icon">
                        <img src="../../assets/images/solution.png" alt="">
                    </div>
                    <h3 class="solution__left__title">Solución <br><span>RIS / PACS</span></h3>
                    <p class="solution__left__text">
                        Permite la gestión y operación integral de los servicios de radiología, desde el agendamiento de los estudios hasta la entrega del informe clínico.
                    </p>
                    <p class="solution__left__text">
                        Nuestra propuesta tecnológica se basa en DCM4CHEE, solución PACS (Picture Archiving and Communication System) open source más usada del mundo, agregando diversos recursos de valor añadido para mejorar su operación y añadiendo una capa RIS (Radiology Information System) en la parte superior que permite la gestión operativa clínica, la cual puede ser integrada a cualquier sistema administrativo o de historia clínica mediante servicios web.
                    </p>
                </div>
            </div>
    
            <div class="solution__right">
                <div class="solution__slider">
                    <div class="solution__slider__item">
                        <img src="../../assets/images/solution1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>